*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 166, 32);
}

main{
width: 90%;
background-color: rgba(107, 111, 111);
margin: auto;
padding: 2% 5%;
}

h1{
    font-size: 35px;
    color: rgb(255, 166, 32); 
}

#target{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.total p{
    padding: 5px 10px;
    font-size: 18px;
    color: rgb(46, 46, 46);
}

.sort-btns{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

button{
    width: 25%;
    height: 50px;
    padding: 5px auto;
    border: none;
    border-radius: 25px;
    background-color: rgb(81, 133, 236);
    font-size: 15px;
    color:  rgb(107, 111, 111);
}

.product-card{
    background-color: rgb(238, 238, 187);
    margin: 1%;
    padding: 2%;
    border: solid 4px rgb(249, 251, 121);
    box-shadow: 8px 8px 35px 0px rgb(52, 60, 92);
    border-radius: 5px;
    width: 18%;
    min-width: 150px;
}

h2{
    font-size: 18px;
    color: rgb(129, 111, 26);
}

.product-descr{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

p{
    font-size: 15px;
    color: rgb(46, 46, 46);
}

.buy-img{
    margin: 30% 0 auto auto;
    width: 25%;
    height: 25%;
}

.add-div{
    margin-top: 20px;
}

.add-div label{
    font-size: 20px;
    color: rgb(46, 46, 46);
    margin: 5px 10px;
}

#btn-add{
    margin-top: 20px;
}

#message{
    font-size: 18px;
    color: brown;
    margin: 10px;
}